:root {
  --prime: rgb(150, 150, 150);
  --xprime: rgb(194, 16, 3);
}


.oyen {
  color: var(--prime) !important;
}

table {
  font-size: .8rem !important;
}

thead {
  background-color: rgb(241, 84, 26) !important;
  color: #fff !important;
}

.spx {
  color: rgb(255, 94, 0) !important;
}

.gt-text {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

.bx-border-circle {
  border-color: #fff !important;
}

.card {
  border-radius: 11px !important;
  background-color: rgb(235, 78, 21) !important;
}

.form-control {
  border-radius: 11px !important;
}