:root {
  --prime: rgb(150, 150, 150);
  --xprime: rgb(194, 16, 3);
}

.btn-oyen {
  background-color: orangered !important;
  color: #fff !important;
}


.oyen {
  color: var(--prime) !important;
}

.btn {
  border-radius: 12px !important;
}

table {
  font-size: .8rem !important;
}



.spx {
  color: rgb(255, 94, 0) !important;
}

.gt-text {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

.bx-border-circle {
  border-color: #fff !important;
}

.card {
  border-radius: 11px !important;
}

.form-control {
  border-radius: 11px !important;
}